@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.wrapper {
    background-color: transparent;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper.active {
    height: 300px;
}

.header-form {
    margin: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper .header h1 {
    font-size: 2em;
    text-align: center;
    line-height: 1.5;
}

.wrapper .header p {
    font-size: 1em;
    text-align: center;
}

.wrapper .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper .form input {
    background-color: transparent;
    width: 100%;
    outline: none;
    height: 40px;
    margin-bottom: 2rem;
    border: none;
    border-bottom: .1rem solid #1FB6FF;
}

.wrapper .form {
    padding-left: .5rem;
    color: black;
}

.wrapper,
.header,
.form,
.titleGerador {
    font-size: 1em;
}

.wrapper .form button {
    width: 100%;
    height: 40px;
    background-color: #1FB6FF;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
}

.wrapper .form button:hover {
    border: .1rem solid #1FB6FF;
    color: #1FB6FF;
    background-color: transparent;
    font-weight: bolder;
}

.wrapper .qr-code {
    display: none;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 30px;
    border-radius: 5px;
    pointer-events: none;
    border: 1px solid #ccc;
}

.wrapper .qr-code img {
    width: 350px;
}

.wrapper.active .qr-code {
    display: block;
    transition: all .5s .5s ease;
}